services:
  # DEVELOPMENT
  frontend-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        NODE_VERSION: 23.10.0  # фиксируем версию Node.js
    container_name: virtual-tokens-dev
    profiles: ["dev"]
    ports:
      - "5173:5173"
    volumes:
      - .:/app                  # монтируем локальные файлы для live-reload
      - /app/node_modules       # сохраняем зависимости контейнера
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev


  # BUILD (CI / TESTING)
  frontend-build:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: virtual-tokens-build
    profiles: ["build"]

    # Монтируем локально dist, чтобы артефакт появился у тебя на ПК
    volumes:
      - ./dist:/app/dist

    # Сборка production-билда
    command: sh -c "npm ci && npm run build"


# Использование:
#
# 1️⃣ Development (запуск dev-сервера Vite):
# docker compose --profile dev up --build
#
# 2️⃣ Сборка production-билда (генерация папки dist для тестирования / CI):
# docker compose --profile build run --rm frontend-build
#
# 3️⃣ Остановить контейнеры:
# docker compose down
#
# 4️⃣ Очистить кэш для пересборки образа
# docker compose --profile build build --no-cache